
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Projetos - DoItFreela</title>
	<link rel="shortcut icon" href="{% static './img/favicon_doitfreela.png' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href=" {% static './css/style.css' %}">
</head>

<body cz-shortcut-listen="true">

	  <header>
		<div class="navbar navbar-dark bg-dark box-shadow" style="border-radius:30px;">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<img src="{% static './img/Logo_DoItFreela_Transparente.png'%}" alt="logo" style="height: 30px; width: 100%;">
        </a>
          
          <ul class="nav justify-content-center">
            <li class="nav-item">
             <a class="nav-link active" href="#">Projetos</a>
            </li>

            <li class="nav-item">
             <a class="nav-link active" href="#">Planos</a>
            </li>
          <div class="media">
            <a href="{% url 'perfil' %}"><img class="align-self-center img" src="/media/{{usuario.foto_perfil}}" alt=""style="max-height: 40px; max-width: 40px; border-radius:50%; border:solid; border-color:#1290CB"></a>
          </div>
          <div class="btn-group">
            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a style="color:#000;" class="dropdown-item" href="#">
                Notificações <span class="badge badge-pill badge-primary"> 100</span>
              </a>
              <a style="color:#000;" class="dropdown-item" href="#">Sair</a>
            </div>
          </div>

        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Projetos</h1>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            {% for i in projeto%}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/media/{{i.foto_projeto}}" alt="logo-projeto" style="max-height: 225px; max-width: 100%; display: block;"> 
                <div class="card-body">
                  <p class="card-text">{{i.nome}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'projeto' i.id %}" class="btn btn-sm btn-outline-secondary">Abrir</a>
                      
                      <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                    </div>
                    <small class="text-muted">{{i.dataCriacao}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
    
      </div>
    </footer>
  






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>