{% extends 'main/base.html' %}
{% if user.is_authenticated %}
{% load static %}
{% block title %}Projetos-DoItFreela {% endblock %}
{% block content %}
<section class="jumbotron text-center" style="background-color:white; margin-bottom: -4rem;">
    <div class="container">
      <h1 class="jumbotron-heading">Requisitos</h1>
    </div>
    
</section>

    
  <main class="container">
    <div>
      <a href="{% url 'requisito.novo' pk_projeto %}" class="btn btn-success mb-3">
        <i class="bi bi-plus-lg"></i>
        Novo Requisito</a>

      
     <!--<input type="button" value="Gerar PDF" onclick="gerar_pdf"> --> 
    </div>
    <button id="download" class="btn btn-secondary" style="margin-bottom: 1rem;">Gerar PDF</button>
    <table class="table" id="requisitos_pdf">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Data de Criação</th>
          <th scope="col">Opções</th>
                
        </tr>
      </thead>
      <tbody>
        {% for requisito in requisitos %}
          <tr>
            <th scope="row">{{ requisito.id }}</th>
            <td>{{ requisito.nome }}</td>
            <td>{{ requisito.descricao }}</td>
            <td>{{requisito.dataCriacao}}</td>
            <td class="d-flex justify-content-start">
              <a href="{% url 'requisito.editar' pk_projeto requisito.pk %}" class="btn btn-warning d-flex mr-2">
                <i class="bi bi-pen-fill"></i>
              </a>

              <a href="{% url 'requisito.remover' pk_projeto requisito.pk %}" class="btn btn-danger d-flex mr-2">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
          
        {% endfor %}       
      </tbody>     
    </table>
  </main>


{% endblock content %}
{% endif %}